<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marko: Transclusion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <app-alert type="success">
        <b>Success</b> This is a success alert!
    </app-alert>

    <app-alert type="info">
        <b>Info</b> This is a info alert!
    </app-alert>

    <app-alert type="warning">
        <b>Warning</b> This is a warning alert!
    </app-alert>

    <app-alert type="danger">
        <b>Danger</b> This is a danger alert!
    </app-alert>

    <app-alert type="info" message="Content from the message attribute!"/>

    <app-alert type="info"/>
</body>
</html>